<h1><%= t("header.login") %></h1>

<%= form_with(
    scope: :session,
    url: signin_path,
    method: :post,
    data: { turbo: false }
  ) do |form| %>

  <div>

    <%= form.label t("profile.email") %><br>

    <%= form.email_field :email %>

  </div>

  <br>

  <div>

    <%= form.label t("users.password") %><br>

    <%= form.password_field :password %>

  </div>

  <br>

  <div>

    <%= form.submit t("header.login") %>

  </div>

<% end %>