<%= form_with(model: user) do |form| %>

  <% if user.errors.any? %>

    <div style="color: red">

      <h2>
        <%= pluralize(user.errors.count, "error") %>
      </h2>

      <ul>

        <% user.errors.each do |error| %>

          <li><%= error.full_message %></li>

        <% end %>

      </ul>

    </div>

  <% end %>

  <div>

    <%= form.label t("profile.name") %><br>

    <%= form.text_field :name %>

  </div>

  <br>

  <div>

    <%= form.label t("profile.email") %><br>

    <%= form.email_field :email %>

  </div>

  <br>

  <div>

    <%= form.label t("users.password") %><br>

    <%= form.password_field :password %>

  </div>

  <br>

  <div>

    <%= form.label t("users.password_confirmation") %><br>

    <%= form.password_field :password_confirmation %>

  </div>

  <br>

  <div>

    <%= form.submit t("header.register") %>

  </div>

<% end %>