<div id="<%= dom_id user %>">

  <p>
    <strong><%= t("profile.name") %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= t("profile.email") %>:</strong>
    <%= user.email %>
  </p>

</div>