<p style="color: green"><%= notice %></p>

<% content_for :title, t("users.users") %>

<h1><%= t("users.users") %></h1>

<div id="users">

  <% @users.each do |user| %>

    <div class="user-card">

      <%= render user %>

      <p>

        <%= link_to t("users.profile"), user %>

        <% if signed_in? && current_user == user %>

          |

          <%= link_to t("users.edit"),
              edit_user_path(user) %>

          |

          <%= link_to t("users.delete"),
              user,
              data: {
                turbo_method: :delete,
                turbo_confirm: "Удалить аккаунт?"
              } %>

        <% end %>

      </p>

    </div>

  <% end %>

</div>

<%= link_to t("users.new_user"),
    new_user_path %>