<header>

  <nav>

    <%= link_to t("header.home"),
        root_path %> |

    <%= link_to t("header.help"),
        main_help_path %> |

    <%= link_to t("header.contacts"),
        main_contacts_path %> |

    <%= link_to t("header.about"),
        main_about_path %> |

    <% if signed_in? %>

      <%= link_to t("header.profile"),
          current_user %> |

      <%= gravatar_for(current_user) %> |

      <%= link_to t("header.logout"),
          signout_path,
          data: { turbo_method: :delete } %>

    <% else %>

      <%= link_to t("header.login"),
          signin_path %> |

      <%= link_to t("header.register"),
          new_user_path %>

    <% end %>

    |

    <%= link_to "RU",
        locale: :ru %>

    |

    <%= link_to "EN",
        locale: :en %>

  </nav>

</header>