<div id="<%= dom_id image %>">
  <div>
    <strong>Name:</strong>
    <%= image.name %>
  </div>

  <div>
    <strong>File:</strong>
    <%= image.file %>
  </div>

  <div>
    <strong>Ave value:</strong>
    <%= image.ave_value %>
  </div>

  <div>
    <strong>Theme:</strong>
    <%= image.theme_id %>
  </div>

</div>
