<!DOCTYPE html>
<html>
  <head>
    <title>ExperteeseApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render 'shared/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>